In [1]:
# Capitalize

In [11]:
str="My name is kunal. i am 24 years Old"

In [12]:
str.capitalize()

'My name is kunal. i am 24 years old'

In [13]:
#lower

In [14]:
str="MY NAME IS KUNAL"

In [15]:
str.lower()

'my name is kunal'

In [16]:
#upper

In [17]:
str='my name is kunal'

In [19]:
str.upper()

'MY NAME IS KUNAL'

In [20]:
# swapcase()

In [21]:
str='mY NAME is Kunal'

In [22]:
str.swapcase()

'My name IS kUNAL'

In [23]:
# strip()

In [24]:
str='                kunal              \n'

In [28]:
str.rstrip()

'                kunal'

In [29]:
# replace

In [1]:
str='I am kk, kk means xyz'

In [2]:
kk=str.replace(str,'abc',2)

In [3]:
kk

'abc'

In [39]:
#find

In [40]:
str='abcdefghijklmnopqrstuvwxyz'

In [41]:
str.find('b')

1

In [43]:
str[1:5]

'bcde'

In [44]:
#split

In [57]:
str='This is ,si@mple sentences'

In [58]:
str.split('@')

['This is ,si', 'mple sentences']

In [60]:
#JOin

In [59]:
kk=['i','am','kunal']

In [67]:
'/'.join(kk)

'i/am/kunal'

In [2]:
x1=[3,1,2,4,0,5]

#### Q.Write a program that prompts the user to enter a sentence and then prints out each word in uppercase. For example, if the user enters "hello world", the program should print out "HELLO WORLD".

In [1]:
a="hello world"
a.upper()

'HELLO WORLD'

#### Q.2 Write a program that reads in a list of names from a file and converts each name to uppercase before printing it out. The names in the file are separated by commas. For example, if the file contains "John, Mary, Susan", the program should print out "JOHN", "MARY", and "SUSAN".

In [11]:
a=153
b=len(str(a))
b

3

In [12]:
5//2

2

['JOHN,', 'MARY,', 'SUSAN']

In [36]:
# Define the list of names as a string
names_string = "John, Mary, Susan"

# Split the string into a list of names
names_list = names_string.split(', ')

# Convert each name to uppercase and print it
for name in names_list:
    print(name.upper())

JOHN
MARY
SUSAN

#### Q.3 Write a function that takes a string as input and returns a list of all the words in the string that are longer than a specified length. The function should take two arguments: the string and the minimum length of a word. For example, if the input string is "The quick brown fox jumps over the lazy dog" and the minimum length is 4, the function should return ["quick", "brown", "jumps"].

In [136]:
def q3():
    a=input("Enter a string")
    b=int(input('Enter minimum length:'))
    c=a.split()
    
    print(a)
    print(b)
    print(c)
    d=[]
    for word in c:
        if(len(word)>b):
            d.append(word)
    return d

In [137]:
q3

Enter a string The quick brown fox jumps over the lazy dog
Enter minimum length: 4

The quick brown fox jumps over the lazy dog
4
['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

['quick', 'brown', 'jumps']

In [115]:
def longer_words(input_string, min_length):
    # Split the input string into words
    words = input_string.split()
    
    # Initialize an empty list to store words longer than the specified length
    longer_words_list = []
    
    # Iterate through each word in the list of words
    for word in words:
        # Check if the length of the word is greater than the specified minimum length
        if len(word) > min_length:
            # If the word is longer than the specified length, add it to the list
            longer_words_list.append(word)
    
    # Return the list of longer words
    return longer_words_list

# Test the function
input_string = "The quick brown fox jumps over the lazy dog"
min_length = 4
result = longer_words(input_string, min_length)
print(result)

['quick', 'brown', 'jumps']

In [66]:
b=a.split()

In [68]:
b

['kfnk', 'j', 'dsj']

In [74]:
for word in b:
    if(len(word)>=2):
        print(word)

kfnk
dsj

#### Q4. Write a program that reads in a list of names from the user, separated by commas, and then prints out the number of names that begin with a vowel. For example, if the user enters "Anna, Bob, Charlie, David, Emily", the program should print out "2".

In [41]:
s="Anna, Bob, Charlie, David, Emily"

In [42]:
new_s=s.split()

In [43]:
new_s[0][0]

'A'

In [44]:
count=0

In [45]:
for s in new_s:
    if s[0].lower() in 'aeiou':
        count+=1
print(count)

2

In [49]:
# Step 1: Read input from the user
names_input = input("Enter a list of names separated by commas: ")

# Step 2: Split the input string into individual names
names_list = names_input.split(',')

# Step 3: Initialize count for names starting with a vowel
count_vowel_starters = 0

# Step 4: Define vowels
vowels = 'aeiou'

# Step 5: Iterate through each name in names_list
for name in names_list:
    # Remove leading and trailing whitespace from the name
    name = name.strip()
    # Check if the name is not empty and starts with a vowel
    if name and name[0].lower() in vowels:
        count_vowel_starters += 1

# Step 6: Print the count of names that start with a vowel
print(f"Number of names that begin with a vowel: {count_vowel_starters}")

Enter a list of names separated by commas:  apple leke aao

Number of names that begin with a vowel: 1

#### Q.5 Write a function that takes a string as input and returns the string with all the vowels converted to uppercase. For example, if the input string is "hello world", the function should return "hEllO wOrld".

In [55]:
def upperfn(instr):
    #a=input('Enter a String:')\
    if
    b=instr.upper()
    return b


str=input('ENter a string')
result=upperfn(str)
print(result)

ENter a string jbjad

JBJAD

#### Q.6 Write a program that reads in a list of words from the user, separated by spaces, and then prints out the length of the longest word. For example, if the user enters "the quick brown fox jumps over the lazy dog", the program should print out "5".

In [17]:
str=input("Enter String")
max_len=0
words=str.split()
for word in words:
    if(len(word)>max_len):
        max_len=len(word)

print(max_len)
#print("kk",count)

Enter String the quick brown fox jumps over the lazy dog

5

In [20]:
str=input("Enter a String")
cur_len=0
max_len=0

for word in str:
    if word != ' ':
        cur_len+=1
    else:
        if(cur_len>max_len):
            max_len=cur_len
        cur_len=0

if cur_len>max_len:
    max_len=cur_len

print(max_len)

Enter a String the quick brown fox jumps over the lazy dog

5

#### Q.7 Write a Python program to count the number of words in a string using split()

In [21]:
str=input("Enter a String")
words=str.split()
count=0
for word in words:
    count+=1

print(count)

Enter a String Write a Python program to count the number of words in a string using split()

15

#### Q.8 Write a Python program to reverse the order of words in a string using split().

In [28]:
str=input('Enter a String')
words=str.split()
for i in words[::-1]:
    print(i)

Enter a String the quick brown fox jumps over the lazy dog

dog
lazy
the
over
jumps
fox
brown
quick
the

In [34]:
rev=words[::-1]

In [35]:
rev

['dog', 'lazy', 'the', 'over', 'jumps', 'fox', 'brown', 'quick', 'the']

In [36]:
rev_str=' '.join(rev)
rev_str

'dog lazy the over jumps fox brown quick the'

In [33]:
# Read input from the user
input_string = input("Enter a string: ")

# Split the input string into a list of words
words = input_string.split()

# Reverse the list of words
reversed_words = words[::-1]

# Join the reversed list of words into a single string
reversed_string = ' '.join(reversed_words)

# Print the reversed string
print(reversed_string)

Enter a string:  the quick brown fox jumps over the lazy dog

dog lazy the over jumps fox brown quick the

#### Q.9 Write a Python function that takes a list of strings and concatenates them into a single string with a comma and space between each string.

In [2]:
length,breadth=map(int,input("Enter Length and width :").split())
print(length)
print(breadth)

Enter Length and width : 5 10

5
10

In [17]:
def ex():
    a=[]
    a=input('Enter String').split()
    a
    b=', '.join(a)
    return b
    
ex()

Enter String sd asd as

'sd, asd, as'

#### Q.10 Write a Python program that prompts the user to enter their first and last name, and then prints a greeting message with their full name

In [24]:
fname,lname=(input("Enter first and last name").split())
print(f"Good Morning { fname} and also { lname}")

Enter first and last name k k

Good Morning k and also k

#### Q.11 Write a Python function that takes two strings and concatenates them, but only if the second string starts with the first three letters of the first string. Otherwise, the function should return the original first string.

In [9]:
str1=input('Enter First String')
str2=input('Enter Second string')


if str1[:4]==str2[:4]:
    print(str1 + str2)
else:
    print(str1)

Enter First String abc jhsba
Enter Second string njkadh jhgd

abc jhsba

#### Q.13 Write a Python program that asks the user to enter a string and then prints the length of the string.

In [11]:
str=input("Enter String")
count=0
for l in str:
    count+=1

print(count)
#len(str)

Enter String kunal karne

11

11

#### Q.14 Write a Python program that asks the user to enter a string and then prints the string in uppercase

In [12]:
str=input('Enter a string')
str.upper()

Enter a string kunal karne

'KUNAL KARNE'

#### Q.16 Write a Python program that asks the user to enter a string and then removes any whitespace from the beginning and end of the string

str=input('Enter a string')
str.strip()

#### Q.17 Write a Python program that asks the user to enter a string and a substring. The program should then replace all occurrences of the substring with a new string and print the resulting string.

In [15]:
str=input('Enter a string')
sub_str,rep_str=input("Ente a sub-string which you want to replace").split(",")

str.replace(sub_str,rep_str)

Enter a string kunal kundlik karne
Ente a sub-string which you want to replace ku,kk

'kknal kkndlik karne'

#### Q.18 Write a Python program that asks the user to enter a string and then splits the string into a list of words. The program should then print each word on a separate line.

In [20]:
str=input('Enter string')
a=str.split()
for word in a:
    print(word)

Enter string kunal kundlik karne

kunal
kundlik
karne

In [1]:
x = [1, 2, 3]
y = map(lambda n: n+1, x)
print(list(y)[0])

2

In [3]:
def func(x=[]):
    x.append(x)
    return x
y = func()
print(y)

[[...]]